<section id="event">
    <header>
       
    </header>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js">
    $(function() {
            $('tr:nth-child(odd)').addClass('odd');
        });
    </script>
    <div class="slide-show w3-content w3-display-container">
        <p>体育館前</p>
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301309-a8878e00-a34f-11e8-971c-fde728bb12ba.jpg">
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301310-a8878e00-a34f-11e8-8ee0-ba6ba791c3bd.jpg">
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301311-a8878e00-a34f-11e8-8ce6-7328bdde6fce.jpg">
        
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }
        

        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
        }
    </script>
    <div>
   </div>
   
<div id="skeduler-container"></div>
<script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
</script>
<%- css('fancybox/jquery.skeduler') %>
<%- js('fancybox/jquery.skeduler') %>
<%- js('fancybox/skeduler') %>
<%- js('fancybox/htmlpreview.min') %>
<%- js('fancybox/jquery-2.2.4.min') %>
</section>
