<div class="slide-show w3-content w3-display-container">
    <p>椚田祭　10月21,22日開催</p>
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301309-a8878e00-a34f-11e8-971c-fde728bb12ba.jpg">
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301310-a8878e00-a34f-11e8-8ee0-ba6ba791c3bd.jpg">
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301311-a8878e00-a34f-11e8-8ce6-7328bdde6fce.jpg">
    
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
    showDivs(slideIndex += n);
    }

    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
    }
</script>
<div>
</div>
<% var news =[
        {
            "timestamp": "12:30",
            "date" : 21,
            "start_time": "10:00",
            "end_time": "11:00",
            "place": "place",
            "name" : "name",
            "from": "brassband",
            "content": "discription"
        },{
            "timestamp": "13:30",
            "date" : 21,
            "start_time": "11:00",
            "end_time": "12:00",
            "place": "place2",
            "name" : "name2",
            "from": "けいおん",
            "content": "discription"
        }
]%>
<div class="w3-card">
    <h1>TOP NEWS</h1>
    <div style="height: 200px;"> 
        <iframe src=""></iframe>
            <!-- <table class="w3-table w3-white" style="display: block">
                <tr>
                    <th>日付</th>
                    <th>時間</th>
                    <th>場所</th>
                    <th>タイトル</th>
                    <th>from</th>
                    <th>説明</th>
                </tr>
                <% for(var i=0 ; i < 2  ; i += 1 ) {%>
                    <tr>
                        <td><%= news[i].date %></td>
                        <td><%= news[i].start_time %> ~ <%= news[i].end_time %></td>
                        <td><%= news[i].place %></td>
                        <td><%= news[i].name %></td>
                        <td><%= news[i].from %></td>
                        <td><%= news[i].content %></td>
                    </tr>
                <% } %>
            </table>
                     -->
        <!--<%- partial('_partial/archive', {pagination: 2, index: true}) %>-->
    </div>
</div>
<div class="w3-card">
    <h1>椚田祭とは</h1>
    <div style="height: 200px;"> 
        <!--<%- partial('about', {pagination: 2, index: true}) %>-->
    </div>
</div>
<div class="w3-card">
    <p>
    <div class="w3-third w3-container slide-show " >
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="/map">MAP</a>
        </p> 
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="/about">椚田祭について</a>
        </p>
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="/mogi-shop">模擬店一覧</a>
        </p> 
    </div>
    </p>
    <div class="w3-third w3-container slide-show" >
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="/event">イベント</a>
        </p> 
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="">リンク</a>
        </p>  
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png" style="width: 100%;">
        <p>
            <a href="">アクセス</a>
        </p> 
    </div>
</div>