<div class="slide-show w3-content w3-display-container">
    <p class="txt">くぬぎだ祭<br>10月21,22日開催</p>
    <p class="txt">EVENTS</p>
    <p class="txt">BOOTH</p>
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301309-a8878e00-a34f-11e8-971c-fde728bb12ba.jpg">
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301310-a8878e00-a34f-11e8-8ee0-ba6ba791c3bd.jpg">
    <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301311-a8878e00-a34f-11e8-8ce6-7328bdde6fce.jpg">

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("txt");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        y[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    y[slideIndex-1].style.display = "block"; 
    }
    //get loadtime
    function getNow() {
        function to_string(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }
        var date = new Date();
        var now = `${to_string(date.getDay())}/${date.getHours()}:${date.getMinutes()}`
        console.log(now);
        return now;
    }

    //cat future data
    function catData(now) {
        for (var i = 0; i < data.length && i < 5; i++) {
            if (data[i].time <= now) break;
        }
        return i;
    }
    
    // //sort data
    // data.sort(function (a, b) {
    //     if (a.time > b.time) {
    //         return -1;
    //     }
    //     if (a.time < b.time) {
    //         return 1;
    //     }
    //     // names must be equal
    //     return 0;
    // });
</script>
<% var data = [
    {
        "timestamp": "12:30",
        "date": 21,
        "time": "22/18:00",
        "start_time": "10:00",
        "end_time": "11:00",
        "place": "place",
        "name": "name",
        "from": "brassband",
        "content": "discription"
    },{
        "timestamp": "13:30",
        "date": 21,
        "time": "21/13:30",
        "start_time": "11:00",
        "end_time": "12:00",
        "place": "place2",
        "name": "name2",
        "from": "けいおん",
        "content": "discription"
    },{
        "timestamp": "14:30",
        "date": 22,
        "time": "22/14:30",
        "start_time": "10:00",
        "end_time": "11:00",
        "place": "place",
        "name": "name",
        "from": "brassband",
        "content": "discription"
    },{
        "timestamp": "15:30",
        "date": 21,
        "time": "21/15:30",
        "start_time": "11:00",
        "end_time": "12:00",
        "place": "place2",
        "name": "name2",
        "from": "けいおん",
        "content": "discription"
    },{
        "timestamp": "09:30",
        "date": 21,
        "time": "21/09:30",
        "start_time": "10:00",
        "end_time": "11:00",
        "place": "place",
        "name": "name",
        "from": "brassband",
        "content": "discription"
    },{
        "timestamp": "10:30",
        "date": 21,
        "time": "21/10:30",
        "start_time": "11:00",
        "end_time": "12:00",
        "place": "place2",
        "name": "name2",
        "from": "けいおん",
        "content": "discription"
    },{
        "timestamp": "19:30",
        "date": 21,
        "time": "21/19:30",
        "start_time": "10:00",
        "end_time": "11:00",
        "place": "place",
        "name": "name",
        "from": "brassband",
        "content": "discription"
    },{
        "timestamp": "08:30",
        "date": 21,
        "time": "21/08:30",
        "start_time": "11:00",
        "end_time": "12:00",
        "place": "place2",
        "name": "name2",
        "from": "けいおん",
        "content": "discription"
    }]%>
<div class="w3-card">
    <div class="w3-card">
        <% function LoadNewsTime(diff) {
            function to_string(d) {
                return (d < 10) ? '0' + d.toString() : d.toString();
            }
            var date = new Date();
            var loadTime = `${to_string(date.getDay())}/${date.getHours()}:${date.getMinutes()-diff}`
            loadTime = "22/18:00";
            return loadTime;
        }%>
        <div class="news">
            <h1>TOP NEWS</h1>
            <% count = 0; %>
            <% loadTime = LoadNewsTime(10) %>
            <% for (i = 0; i < data.length && count < 6 ; i+=1 ) { %>
                <%if( loadTime >= data[i].time ){ %>
                    <% count += 1; %>
                    <div class="post icon">
                        <%if( LoadNewsTime(0) <= data[i].time ){ %>
                            <img src="https://png.icons8.com/metro/50/000000/new.png">
                        <% } %>
                        <a href="/event" class="title"><%= data[i].name %></a>
                        <div class="post-meta">
                            <a href="/event" class="content">
                                <h6><%=data[i].content%></h6>
                            </a>
                            <p class="date"><span><%= data[i].date %></span>日 <span><%= data[i].start_time %></span></p>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<div class="w3-container w3-margin w3-padding w3-dark-gray">
    <h1>椚田祭とは</h1>
    <div style=""> 
        <%- partial('about', {pagination: 2, index: true}) %>
    </div>
</div>
<div class="w3-card">
    <p>
        <div class="w3-third w3-container slide-show ">
            <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png"
                style="width: 100%;">
            <p>
                <a href="/map">MAP</a>
            </p>
        </div>
        <div class="w3-third w3-container slide-show">
            <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_about.png"
                style="width: 100%;">
            <p>
                <a href="/about">椚田祭について</a>
            </p>
        </div>
        <div class="w3-third w3-container slide-show">
            <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png"
                style="width: 100%;">
            <p>
                <a href="/mogi-shop">模擬店一覧</a>
            </p>
        </div>
    </p>
    <div class="w3-third w3-container slide-show">
        <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_event.png"
            style="width: 100%;">
        <p>
            <a href="/event">イベント</a>
        </p>
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://user-images.githubusercontent.com/38575274/44719886-b089bf80-aaff-11e8-8e92-e4f6e98a6587.png"
            style="width: 100%;">
        <p>
            <a href="">リンク</a>
        </p>
    </div>
    <div class="w3-third w3-container slide-show">
        <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_access.png"
            style="width: 100%;">
        <p>
            <a href="">アクセス</a>
        </p>
    </div>
</div>
