<section id="mogi-shop">
    <header> </header>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="search_shop_input" onkeyup="search_shop()">
    <div id="booth"> </div>
    <%basicTags=[{"id":"0","tag":"模擬店"},{"id":"1","tag":"アトラクション"},{"id":"2","tag":"食べ物"},{"id":"3","tag":"飲み物"},{"id":"8","tag":"汁物"}]%>
    <%tasteTags=[{"id":"4","tag":"温かいもの"},{"id":"5","tag":"冷たいもの"},{"id":"6","tag":"甘い系"},{"id":"7","tag":"しょっぱい系"}]%>
    <%othorTags=[{"id":"9","tag":"ゲーム"},{"id":"10","tag":"展示"},{"id":"11","tag":"座れる場所"},{"id":12,"tag":"工作"},{"id":13,"tag":"キーホルダー"}]%>
    <div class="filter-block">
        <form class=categories-box>
            <h1>絞り込み</h1>
            <div class="tags categories w3-round ">
                <ul>
                <% basicTags.forEach((value) => {%>
                    <li class="checkbox w3-round w3-white w3-padding w3-margin"><label><input class="checkbox02-input" type="checkbox" rel="label<%=value.id%>"/><span class="checkbox02-parts"><%=value.tag%></span></label></li>
                <% }); %>
                </ul>
            </div>
            <div class="tags categories sub-categories w3-round w3-padding w3-margin">
                <h1>食べたいもの</h1><h1>で選ぶ</h1>
                <% tasteTags.forEach((value) => {%>
                    <div class="checkbox w3-round w3-white"><label><input class="checkbox02-input" type="checkbox" rel="label<%=value.id%>"/><span class="checkbox02-parts"><%=value.tag%></span></label></div>
                <% }); %>
            </div>
            <div class="tags categories sub-categories w3-round w3-padding w3-margin">
                <h1>その他</h1>
                <% othorTags.forEach((value) => {%>
                    <div class="checkbox w3-round w3-white"><label><input class="checkbox02-input" type="checkbox" rel="label<%=value.id%>"/><span class="checkbox02-parts"><%=value.tag%></span></label></div>
                <% }); %>
            </div>
            
        </form>
    </div>
    <div  class="shops">
            <script> $(function(){ $('#booth').load('/data/views/shop.html'); }); </script>
    </div>
</section>
    <script>
        var _showCategories = function(item) {
        for (var x = 0; x < item.length; ++x) {
            $(item[x]).fadeIn();
        }
        };


        var categories = [],
        resources = [],
        initial = "";


        categories[0] = "#label1";
        categories[1] = "#label2";
        categories[2] = "#label3";
        categories[3] = "#label4";
        categories[4] = "#label5";
        categories[5] = "#label6";
        categories[6] = "#label7";
        categories[7] = "#label8";

        $('div.tags').find('input[type="checkbox"]').click(function() {
        
        
        resources = [];
        initial = "";
        
        
        if ($('div.tags.categories input[type="checkbox"]:checked').length > 0) {
            $('.results shop').hide();
            
            $('.topics input[type="checkbox"]').removeAttr('disabled');
            
        
            $('div.tags').find('input:checked').each(function() {
            if (($.inArray($(this).attr('rel'), resources)) === -1) {
                resources.push($(this).attr('rel'));
            }
            
            
            initial = resources.toString();
            initial = initial.replace(/,/g, '.');
            });    
            
            for (var i = 0; i < categories.length; ++i) {
            if ($(categories[i] + " .results > shop." + initial).length != 0) {
                $(".results > shop." + initial).show('fast');
                $(categories[i]).fadeIn('fast');
            } else {
                $(categories[i]).fadeOut('fast');
            }
            }
        } else {
            
            $('.topics input[type="checkbox"]').attr('disabled', 'disabled');
            $('.results > shop').fadeIn('fast');
            _showCategories(categories);
        }
        });
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</section>
