<section id="mogi-shop">
    <header>

    </header>

    <% var data ={"c4J":{"goods":[{"name":"チョコ","price":"400","first_price":"3456"},{"name":"ちょこばなな","price":"400"}],"image":["0.png"],"label":["0","2","6"],"tstamp":"1539280740.000100","shopname":"ちょこ"},"c4D":{"goods":[{"name":"スタンプラリー","price":"Free"}],"image":["0.jpg"],"label":["1"],"shopname":"トリックオアトリート","tstamp":1539317366},"c2C":{"goods":[],"image":[],"label":[]},"fs":{"goods":[{"name":"ワッフル","price":"100"}],"image":[],"label":["0","2"],"shopname":"ワッフル屋","tstamp":1539300253},"pg":{"goods":[{"name":"写真の展示","price":"Free"}],"image":["0.jpg"],"label":["1","10"],"shopname":"写真部展示","tstamp":1539306491},"htb":{"goods":[{"name":"もも(1本)","price":"100"},{"name":"もも(4本)","price":"300"},{"name":"かわ(1本)","price":"100"},{"name":"かわ(4本)","price":"300"}],"image":[],"label":["0","2","7"],"shopname":"焼き鳥","tstamp":1539317279},"vb":{"goods":[],"image":["0.jpg"],"label":[],"shopname":"ホットドッグ"},"v5D":{"goods":[],"image":[],"label":[],"shopname":"綿飴屋"},"abd":{"goods":[],"image":[],"label":[],"shopname":"ぼく留学生"},"v3D":{"goods":[],"image":["0.jpg"],"label":[],"shopname":"フルーツサンド"},"c4M":{"goods":[{"name":"お好み焼き","price":"200"}],"image":["0.PNG"],"label":["0","2","4","7"],"shopname":"お好み焼き","tstamp":1539313757},"tnf":{"goods":[{"name":"フランクフルト","price":"100"}],"image":[],"label":["0","2"],"tstamp":"1539236221.000100","shopname":"フランクフルト"},"tea":{"goods":[{"name":"お抹茶(お菓子付き)","price":"300"}],"image":["0.jpg"],"label":["1","2","3","4","6","8","11"],"tstamp":"1539229782.000200","shopname":"お茶出し"},"v5C":{"goods":[{"name":"炒飯","price":"300"}],"image":["0.png"],"label":["0","3","6"],"tstamp":"1539228746.000100","shopname":"RiceStyle"},"v14":{"goods":[{"name":"バトルドーム","price":"50"},{"name":"ビーダマン","price":"50"},{"name":"ベーブレード","price":"50"}],"image":["0.jpeg"],"label":["1"],"tstamp":"1539229207.000100","shopname":"超エキサイティンッ!"},"kusa":{"goods":[],"image":[],"label":[]},"v4E":{"goods":[{"name":"だんご3本詰合せ","price":"200"}],"image":["0.png"],"label":["0","2"],"tstamp":1539306773,"shopname":"団子カフェ"},"cyc":{"goods":[{"name":"今川焼","price":"150"}],"image":[],"label":["2","4","6"],"tstamp":"1539229653.000100"},"v2M":{"goods":[{"name":"たこ焼き","price":"300"}],"image":[],"label":["2","4","7","0"],"tstamp":1539316331,"shopname":"たこ焼き覇世神"},"hl":{"shopname":"タピオカ","goods":[{"name":"タピオカミルクティー","price":"200"},{"name":"タピオカカルピス","price":"200"}],"image":[],"label":["0","3","8"],"tstamp":"1539238129.000200"},"v2AS":{"shopname":"チヂミ屋さん","goods":[{"name":"チヂミ","price":"200"},{"name":"チーズ","price":"50"},{"name":"キムチ","price":"50"}],"image":["0.png"],"label":["0","2","4","7"],"tstamp":"1539236968.000100"},"cm":{"shopname":"科学部のけんちん汁","goods":[{"name":"けんちん汁辛口","price":"300"},{"name":"けんちん汁デス","price":"350"},{"name":"けんちん汁ノーマル","price":"200"}],"image":[],"label":["0","2","4","7","8"],"tstamp":"1539270928.000100"},"c14":{"shopname":"GameStation","goods":[{"name":"ゲーム","price":"Free"}],"image":["0.PNG"],"label":["9","1"],"tstamp":"1539247940.000100"},"bd":{"shopname":"チュロス","goods":[{"name":"チュロス","price":"200"}],"image":["0.PNG"],"label":["0","2"],"tstamp":1539306398},"c13":{"shopname":"射的","goods":[{"name":"射的","price":"100"}],"image":[],"label":["1"],"tstamp":1539299009},"vM":{"shopname":"ものづくり工房直売所","goods":[{"name":"キーホルダー","price":"100"},{"name":"ボールペン","price":"800"},{"name":"ペン立て","price":"500"},{"name":"はざまる","price":"100"},{"name":"名前入りプレート","price":"300"}],"image":["0.PNG"],"label":["0",13],"tstamp":1539316331},"nr":{"shopname":"クレープ屋さん","goods":[{"name":"ホイップクリーム+みかん","price":"300"},{"name":"ホイップクリーム+チョコ","price":"300"},{"name":"カスタードクリーム+みかん","price":"300"}],"image":[],"label":["0","2","6"],"tstamp":1539315415},"gcat":{"shopname":"GCATゲーム制作部ゲーム展示","goods":[],"image":["0.png"],"label":["10","1","9"],"tstamp":1539316339},"c2D":{"shopname":"いも八王子","goods":[{"name":"焼き芋","price":"50"}],"image":["0.png"],"label":["0","2","4","6"],"tstamp":1539314537},"v5M":{"shopname":"スタンプラリー","goods":[],"image":["0.jpg"],"label":[]},"fb":{"shopname":"トルネードポテト","goods":[],"image":["0.jpg"],"label":[]},"yku":{"shopname":"ラーメン","goods":[],"image":[],"label":[]},"hb":{"shopname":"ハンド餅","goods":[{"name":"わらび餅（きな粉）","price":"100"},{"name":"黒蜜","price":"+50"}],"image":[],"label":["0","2","6"],"tstamp":1539314096},"v4D":{"shopname":"休憩所","goods":[],"image":["0.PNG"],"label":[]},"bsk":{"shopname":"牛串","goods":[{"name":"牛串","price":"300"}],"image":[],"label":["0","2","4","7"],"tstamp":1539315177},"sw":{"shopname":"焼きそば","goods":[],"image":[],"label":[]},"v4C":{"shopname":"焼き餃子","goods":[{"name":"焼き餃子","price":"200"}],"image":[],"label":["0","2","4"],"tstamp":1539319237},"c1AC":{"shopname":"飲み物","goods":[],"image":["0.jpg"],"label":[]}} %>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="search_shop_input"
        onkeyup="search_shop()">
    <!-- <iframe src=""></iframe> -->
    <% for(let id in data) {%>
        <% if( data[id].goods.length ){ %>
        <div class="shop">
            <% if( data[id].image.length ){ %>
                <img src="https://kunugida2018.tokyo-ct.ac.jp/data/<%=id%>/<%=data[id].image[0] %>">
            <% }else{ %>
                <img src="https://user-images.githubusercontent.com/38575274/46793140-f7660880-cd7f-11e8-9e1c-773c09a992c5.png">
            <% } %>
            <!--img src="https://user-images.githubusercontent.com/38575274/46794332-925fe200-cd82-11e8-83ce-c614b7235a7a.png"-->
            <table class="" id="search_shop_table">
                <p>
                    <%= data[id].shopname %>
                    <div class="not-display-mobile">
                      <a class="icon" href="/map/?booth=<%= id %>">
                          <img src="https://png.icons8.com/color/50/000000/marker.png">地図を表示
                      </a>
                    </div>
                </p>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <%  for( var i=0 ; i < data[id].goods.length ; i+=1 ) { %>
                <tr>
                    <td>
                        <%= data[id].goods[i].name %>
                    </td>
                    <% if( data[id].goods[i].first_price　== data[id].goods[i].price ){ %>
                      <td><%= data[id].goods[i].price %>円</td>
                    <% } else { %>
                      <td><div class="del"><span><%= data[id].goods[i].first_price %>円</span></div><%= data[id].goods[i].price %>円</td>
                    <% } %>
  
                </tr>
                <% }; %>
            </table>
        </div>
        <% } %>
    <% } %>

    <script>
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</section>
