<section id="mogi-shop">
    <header>

    </header>

    <% var data ={
        "c4J": {
            "goods": [
              {
                "name": "チョコ",
                "price": "3456"
              },
              {
                "name": "ちょこばなな",
                "price": "400"
              }
            ],
            "image": [
              "dispImage_cache.jpg"
            ],
            "label": [
              "0",
              "2",
              "6"
            ],
            "tstamp": "1539235736.000100",
            "shopname": "ちょこ"
          },
        "c4D": {
          "goods": [],
          "image": [],
          "label": []
        },
        "c2C": {
          "goods": [],
          "image": [],
          "label": []
        },
        "fs": {
          "goods": [],
          "image": [],
          "label": []
        },
        "pg": {
          "goods": [],
          "image": [],
          "label": []
        },
        "htb": {
          "goods": [],
          "image": [],
          "label": []
        },
        "vb": {
          "goods": [],
          "image": [],
          "label": []
        },
        "v5D": {
          "goods": [],
          "image": [],
          "label": []
        },
        "abd": {
          "goods": [],
          "image": [],
          "label": []
        },
        "v3D": {
          "goods": [],
          "image": [],
          "label": []
        },
        "c4M": {
          "goods": [],
          "image": [],
          "label": []
        },
        "tnf": {
          "goods": [
            {
              "name": "フランクフルト",
              "price": "100"
            }
          ],
          "image": [],
          "label": [
            "0",
            "2"
          ],
          "tstamp": "1539236221.000100",
          "shopname": "フランクフルト"
        },
        "tea": {
          "goods": [
            {
              "name": "お抹茶(お菓子付き)",
              "price": "300"
            }
          ],
          "image": [],
          "label": [
            "1",
            "2",
            "3",
            "4",
            "6",
            "8",
            "11"
          ],
          "tstamp": "1539229782.000200"
        },
        "v5C": {
          "goods": [
            {
              "name": "炒飯",
              "price": "300"
            }
          ],
          "image": [],
          "label": [
            "0",
            "3",
            "6"
          ],
          "tstamp": "1539228746.000100",
          "shopname": "RiceStyle"
        },
        "v14": {
          "goods": [
            {
              "name": "バトルドーム",
              "price": "50"
            },
            {
              "name": "ビーダマン",
              "price": "50"
            },
            {
              "name": "ベーブレード",
              "price": "50"
            }
          ],
          "image": [],
          "label": [
            "1",
            "1",
            "1"
          ],
          "tstamp": "1539229207.000100",
          "shopname": "超エキサイティンッ!"
        },
        "kusa": {
          "goods": [],
          "image": [],
          "label": []
        },
        "v4E": {
          "goods": [
            {
              "name": "だんご3本詰合せ",
              "price": "200"
            }
          ],
          "image": [],
          "label": [],
          "tstamp": "1539229425.000100"
        },
        "cyc": {
          "goods": [
            {
              "name": "今川焼",
              "price": "150"
            }
          ],
          "image": [],
          "label": [
            "2",
            "4",
            "6"
          ],
          "tstamp": "1539229653.000100"
        },
        "v2M": {
          "goods": [
            {
              "name": "たこ焼き",
              "price": "300"
            }
          ],
          "image": [],
          "label": [
            "2",
            "4",
            "7"
          ],
          "tstamp": "1539237550.000100",
          "shopname": "たこ焼き覇世神"
        },
        "hl": {
          "shopname": "タピオカ",
          "goods": [
            {
              "name": "タピオカミルクティー",
              "price": "200"
            },
            {
              "name": "タピオカカルピス",
              "price": "200"
            }
          ],
          "image": [],
          "label": [
            "0",
            "3",
            "8"
          ],
          "tstamp": "1539238129.000200"
        },
        "v2AS": {
          "shopname": "チヂミ屋さん",
          "goods": [
            {
              "name": "チヂミ",
              "price": "200"
            },
            {
              "name": "チーズ",
              "price": "50"
            },
            {
              "name": "キムチ",
              "price": "50"
            }
          ],
          "image": [
            "iOS の画像"
          ],
          "label": [
            "0",
            "2",
            "4",
            "7"
          ],
          "tstamp": "1539236968.000100"
        }
      }%>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="search_shop_input"
        onkeyup="search_shop()">
    <!-- <iframe src=""></iframe> -->
    <% for(let id in data) {%>
        <% if( data[id].goods.length ){ %>
        <div class="shop">
            <!-- <% if( data[id].image.length ){ %>
                <img src="https://kunugida2018.tokyo-ct.ac.jp/data/<%=data[id].shopname %>/<%=data[id].image[0] %>">
            <% }else{ %>
                <img src="https://user-images.githubusercontent.com/38575274/46793140-f7660880-cd7f-11e8-9e1c-773c09a992c5.png">
            <% } %> -->
            <img src="https://user-images.githubusercontent.com/38575274/46794332-925fe200-cd82-11e8-83ce-c614b7235a7a.png">
            <table class="" id="search_shop_table">
                <p>
                    <%= data[id].shopname %>
                    <a class="icon" href="/map?booth=<%= id %>">
                        <img src="https://png.icons8.com/color/50/000000/marker.png">地図を表示
                    </a>
                </p>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <%  for( var i=0 ; i < data[id].goods.length ; i+=1 ) { %>
                <tr>
                    <td>
                        <%= data[id].goods[i].name %>
                    </td>
                    <td>
                        <%= data[id].goods[i].price %>円</td>
                </tr>
                <% }; %>
            </table>
        </div>
        <% } %>
    <% } %>

    <script>
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</section>