<% for(let id in data){%>
    <% if( data[id].goods.length){ %>
        <section class="shop-box" id="label<%= data[id].label[0]%>">
            <div class="results">
                <shop class="label<%= data[id].label.join(' label')%>">
                    <div class="shop">
                        <div class="shop-image">
                            <% if( data[id].image.length ){ %>
                                <img src="https://kunugida2018.tokyo-ct.ac.jp/data/<%=id%>/<%=data[id].image[0] %>" alt="<%= data[id].shopname %>の宣伝画像">
                            <% }else{ %>
                                <img src="/img/noimage.png">
                            <% } %>
                        </div>
                        <table class="" id="search_shop_table">
                            <p>
                                <%= data[id].shopname %>
                                <a class="icon" href="/map/?booth=<%= data[id].boothId %>">
                            </p>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            <%  for( var i=0 ; i < data[id].goods.length ; i+=1) { %>
                                <tr>
                                    <td> <%= data[id].goods[i].name %> </td>
                                    <% if(data[id].goods[i].price == "Free" || data[id].goods[i].price == "free" ){ %>
                                        <td>Free</td>
                                    <% }else if(!data[id].goods[i].first_price){ %>
                                        <td><%= data[id].goods[i].price %>円</td>
                                    <% } else { %>
                                        <td><div class="del"><span><%= data[id].goods[i].first_price %>円</span></div><%= data[id].goods[i].price %>円</td>
                                    <% } %>
                                </tr>
                            <% }; %>
                        </table>
                    </div>
                </shop>
            </div>
        </section>
    <% } %>
<% } %>
